/* Fonts */
@font-face {
  font-family: "Pokemon";
  font-style: normal;
  src: local("Pokemon"),
    url(./components/fonts/PokemonSolid.ttf) format("truetype");
}
/* Global Styles Stuff */
body {
  background-color: lightblue;
  background-image: url(https://i.imgur.com/zs4Ls2r.png);
  background-repeat: repeat;
}

.container {
  background-color: white;
}
h1 {
  /* font-family: "Audiowide"; */
  font-family: "Pokemon";
}

h5 {
  font-family: "Oswald";
}

ul {
  margin: 0 auto;
}

/* Form Styles */
.input-field label {
  color: #000;
}

.input-field input[type="text"]:focus {
  color: #000;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
